<!DOCTYPE html>

<html lang="en">

  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<title>Amazing app to help you find nearest MBTA station</title>

	<style type="text/css">
	#h1{text-align:center; font-size: 50px; color: black}
    #p{text-align: center; font-size: 30px; color: yellow}
    body{background: url('http://d279m997dpfwgl.cloudfront.net/wp/2017/03/0307_mbta.jpg')}
	</style>
   </head>

  <body>
	<h1 id="h1">Find the Closest MBTA Station to You</h1>
    <p id="p">Enter Your Location</p> 
        <form method="post" id="f1">
            <p id="p"> Enter your location: <input type="text" id="loc" size="20" name="userloc" /> </p>
            <p id="p"> 
                <input type="reset" name="reset" value="Reset" /> 
                <input type="submit" name="submit" value="Submit" />
            </p>
        </form>    
  </body>
</html>